{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}VF Page{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" >
</head>
<body class="bg-prim">
    <div class="container">
        <a class="logo" href="{% url 'initial' %}">spae.</a>
        <div class="circle-wrap">
            <div class="circle">
                <div class='circle-inner'>{% block circleText %}KNOW YOUR CASHFLOW{% endblock %}</div> 
            </div>
        </div>
        {% block content %}
            Something went wrong
        {% endblock %}
    </div>
</body>
</html>