{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VF Login</title>
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" >
    </head>
    <body>
        <div class="container">
            <h1 class="logo">Visual Financials</h1>
            <h2 class="subtitle" id="sub-logo">Get a grip on your financials</h2>
            <div class="subframe">
                <div class="line"></div>
                    <p class="prefix">sign in here</p>
                <div class="line"></div>
            </div>
            <div class="signup-form">
                <form name='login-form' method="POST">

                    {% csrf_token %}
                    {{ form|crispy }}
                    <!-- <input class="input-block-level" type="text" name="user" value="" id="email" placeholder="Username">
                    <input class="input-block-level" type="password" name="password" value="" id="username" placeholder="Password"> -->
                    <button class="button-input" type="submit">Login</button>

                    {% if messages %}
                    <ul class='form-errors'>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
            <div class="footer">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
        </div>
    </body>
</html>