{% extends "accounts/base.html" %}

{% block content %}
<div class="login-container">
    <ul class="error-wrap">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    <form method="post" action="{% url 'register' %}">
        <div class="login-wrap">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <table class='login-items'>
                    <tr>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td oninput=" {document.getElementById('btn-login').classList.add('show');} ">{{ form.password2 }}</td>
                    </tr>
                </table>
                <button class="hide" id="btn-login" type="submit"></button>
            </form>
        </div>
    </form>
</div>
{% endblock %}