:root {
    --color: 166, 49%;
    --l:12%; 
    
    --color-primary: hsl(var(--color),var(--l));
    --color-primary-darker: hsl(var(--color),calc(var(--l) - 5%));
    --color-primary-darkest: hsl(var(--color),calc(var(--l) - 10%)); 
    --color-secondary: #EDEDED;
    --color-secondary-darker: grey;
}

h1 {
    color: var(--color-secondary);
    margin: 0;
}

p {
    color: var(--color-secondary);
}

body {
    background-color: var(--color-secondary);
}

th {
    text-align: left;
}

.small {
    font-size: 18px;
}

#spin-btn-table {
    font-size: 33px;
    cursor: pointer;
    -webkit-user-select: none; 
    user-select: none; 
    color: black;
    background-color: transparent;
    border: none;
    transition: 250ms;
}

#spin-btn-list {
    font-size: 33px;
    cursor: pointer;
    -webkit-user-select: none;   
    user-select: none;
    background-color: transparent;
    border: none;
    transition: 250ms;
}

body.account {
    background-color: var(--color-primary);
}

.b {
    color: black !important;
}

.b tr th, .b tr td{
    color: black;
}

.w {
    color: var(--color-secondary);
}

.mg-70 {
    margin-left: 70px;
}

.hov:hover {
    color: var(--color-secondary-darker);
}

.title-text {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
}

.sub-text {
    font-family: 'ObjectSans';
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
}

.body-text {
    font-family: 'ObjectSans';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

.welcome-box {
    position: absolute;
    top: 160px;
    left: 4vw;
}

.home-content-wrap {
    padding-top: 50px;
}

* {
    text-decoration: none;
    color: var(--color-secondary);
}

div.circle{
    border-radius:50%;
    font-size: 80px;
    padding:15%;
    line-height:0;
    position:relative;
    background:var(--color-secondary);
    color: white;
    font-family: 'Montserrat';
    font-weight: 900;
    text-align: center;
    transition: 250ms;
  }

div.circle:hover {
    transform: scale(1.1);
    transition: 250ms;
}

.circle-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1em;
    color: var(--color-primary);
}

.circle-wrap {
    position: absolute;
    display: flex;
    height: 90vh;
    width: 90vh;
    top: 5vh;
    right: 5vh;
}

figure.circle{
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 0;
    padding:0;
    margin: 0;
    position: absolute;
    background:var(--color-primary);
    top: -31.7vw;
    left: -52.7vw;
    z-index: -10;
  }

label.login-container{
    display: none;
}

input {
    color: var(--color-secondary);
    font-family: 'ObjectSans';
    font-weight: normal;
    font-size: 28px;
    width: 300px;
    padding: 6px;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
  }

input::placeholder {
    color: var(--color-secondary);
    font-family: 'ObjectSans';
    font-weight: normal;
    font-size: 28px;
    margin-right: 70px;
}

input:focus::placeholder {
    color: var(--color-secondary-darker);
}

.login-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    left: 0;
    bottom: 20px;
}

.login-wrap {
    display: flex;
    color: var(--color-secondary);
}

.error-wrap {
    margin-left: 40px;
}

.registration-link {
    text-align: center;
}

.logo {
    font-family: 'ObjectSans';
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    color: var(--color-secondary);
}

.logo-small {
    margin-left: 0;
    font-family: 'ObjectSans';
    font-weight: normal;
}

.container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.redirect-link {
    width: 300px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    background-color: transparent;
    color: var(--color-secondary);
    text-transform: uppercase;
    text-decoration-line: none;
  }

.redirect-link.small {  
    font-family: 'Montserrat';
    font-size: 20px;
}

.link-prefix {
    margin-bottom: 16px;
    text-align: center;
    margin: 20px;
    color: var(--color-secondary);
    font-size: 24px;
}

.redirect-link:hover {
    color: var(--color-secondary-darker);
}

.nav-bar {
    position: fixed;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 92vw;
}

.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--color-secondary);
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    max-width: 120px;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: var(--color-secondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.home-trans-box {
    position: absolute;
    display: block;
    right: 0;
    margin-top: 80px;
    width: 650px;
}

.trans-table {
    position: absolute;
    right: 0;
    width: 100%;
}


.hide {
    display: none;
}

.show {
    display: block;
}

.spin {
    position: relative;
    transform: rotate(45deg);
    transform-origin: center;
}

#btn-login {
    background: url('../img/icons/login_button@2x.png') no-repeat scroll center center / 85% auto rgba(0, 0, 0, 0);
    float: left;
    width: 90px;
    border: none;
    cursor: pointer;
}

#btn-upload {
    background: url('../img/icons/upload_button@2x.png') no-repeat scroll center center / 85% auto rgba(0, 0, 0, 0);
    right: 60px;
    bottom: 60px;
    width: 104px;
    height: 104px;
    border: none;
    cursor: pointer;
    position: fixed;
}


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-Black.ttf') format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-Bold.ttf') format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-BlackItalic.ttf') format("truetype");
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-BoldItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-ExtraBold.ttf') format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat-Thin.ttf') format("truetype");
    font-weight: thin;
}

@font-face {
    font-family: 'ObjectSans';
    src: local('Montserrat'), url('../fonts/ObjectSans-Regular.otf') format("OpenType");
    font-weight: normal;
}