{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block content %}
<div class="section cc-store-home-wrap">
  <div class="container">
    <div class="motto-wrap"></div>
    <div class="home-content-wrap">
      <div class="w-layout-grid about-grid">
        <div id="w-node-boxright">
          <div class="home-section-wrap">
            <div class="label cc-light">About</div>
            <h2 class="section-heading">Who we are</h2>
            <p class="paragraph-light">Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat. Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros. Cras ullamcorper gravida tellus ut consequat.</p>
          </div>
          <a href="/about" class="button w-inline-block">
            <div>Learn More</div>
          </a>
        </div><img src="images/placeholder-3.svg" id="w-node-imageholderright" alt=""></div>
      <div class="w-layout-grid about-grid cc-about-2">
        <div id="w-node-boxleft">
          <div class="home-section-wrap">
            <div class="label cc-light">Team</div>
            <h2 class="section-heading">What we do</h2>
            <p class="paragraph-light">Nulla vel sodales tellus, quis condimentum enim. Nunc porttitor venenatis feugiat. Etiam quis faucibus erat, non accumsan leo. Aliquam erat volutpat. Vestibulum ac faucibus eros. Cras ullamcorper gravida tellus ut consequat.</p>
          </div>
          <a href="/team" class="button w-inline-block">
            <div>Learn More</div>
          </a>
        </div><img src="images/placeholder-1.svg" id="w-node-imageholderleft alt=""></div>
    </div>
  </div>
</div>
{% endblock %}
