{% extends "base.html" %}

{% block title %}{{ user.username}}'s Spae{% endblock %}

{% block content %}
<figure class="circle"></figure>
<div class="home-wrap">
    <div class="welcome-box">
      <h1 class="title-text">Welcome<br>back, {{ user.username }}!</h1>
      <p class="sub-text">You have # outstanding<br>transactions. Let's do this!</p>
        <div class="dropdown">
          <button onclick="dropMenu(), toggleText(), toggleSpinList()" id="spin-btn-list">+</button>
          <button class="dropbtn body-text" id="drop-button" onclick="dropMenu(), toggleText(), toggleSpinList()">Show transactions</button>
          <div class="dropdown-content body-text" id="myDropdown">
            <a class="body-text" href="#">- Link 1</a>
            <a class="body-text" href="#">- Link 2</a>
            <a class="body-text" href="#">- Link 3</a>
          </div>
        </div> 
    </div>
    <div class="home-trans-box">
      <table class="body-text b trans-table">
        <tr class="sub-text b">
          <th colspan="3">Recent Transactions <a class="date-header b">{{ date }}</a></th>
        </tr>
        <tr class="sub-text b"><th><br></th></tr>
        {% for trans in trans_snippet %}
      <tr onclick="toggleSpinTable('{{ forloop.counter|escapejs }}'),toggleDisplay('{{ forloop.counter|escapejs }}')">
          <td>{{ trans.name }}</td>
          <td>$</td>
          <td>{{ trans.amount }}</td>
          <td>
            <button 
              type="button" 
              onclick="toggleSpinTable('{{ forloop.counter|escapejs }}'), toggleDisplay('{{ forloop.counter|escapejs }}')" 
              id = "spin_id_{{ forloop.counter }}"
              class="spin-btn-table">+
            </button>
          </td>
        </tr>
        <tr id="drop_id_{{ forloop.counter }}" class="hide small">
          <td>{{ trans.date }}</th>
          <td colspan="2">{{ trans.kind }}</th>
        </tr>
        {% endfor %}
        <tr class="right bold">
          <td colspan="3"><a class="b bold" href="../transactions/oversight">show all</a></th>
        </tr>
      </table>
    </div>
</div>
<a id="btn-upload" type="submit" href='../transactions/upload' %}"></a>
{% endblock %}
